@import "../defaults/colors";
@import "../defaults/breakpoints";
@import "./utils";

footer {
    @include background-settings();

    .social-media{
        display: flex;
        justify-content: space-around;
        margin-bottom: 32px;

        a {
            i {
                font-size: 24px;
                color: black;

            }
         }
    }

    .info {
        color: black;
    }
}

// Media query for footer
@media screen and (min-width: $medium) { 
    footer {
        .social-media {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
